<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- <meta name="description" content="O Condomínio das Américas é o mais novo endereço do luxo, bem estar, prazer e qualidade de vida em João Pessoa. Conheça agora o empreendimento."> -->
    <meta name="description" content="O Condomínio das Américas chegou a João Pessoa para renovar a sua experiência em morar, com a proposta de ser um dos empreendimentos mais imponentes do Nordeste">
    <meta name="keywords" content="condomínio joão pessoa, condominios joão pessoa, condomínio residencial, empreendimento imponente, qualidade de vida, bem-estar, referência de moradia, estilo exclusivo, alto padrão de qualidade, condomínio de luxo, arquitetura moderna">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link rel="stylesheet" href="fontfaces.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500&display=swap" rel="stylesheet">
    <title>Condomínio das Américas | João Pessoa</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133548565-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133548565-1');
    </script>
    <!-- <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script> -->

    

    <style type="text/css">
      a.gflagi {vertical-align:middle;font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(../images/flag-eua.png);}
      a.gflagp {vertical-align:middle;font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(@/assets/images/album/Condominio_das_Americas_Localizacao.jpg);}
      a.gflag img {border: 0; margin-left: 4px;}
     /* a.gflag:hover {background-image:url(//gtranslate.net/flags/24a.png);}*/
      #goog-gt-tt {display:none !important;}
      .goog-te-banner-frame {display:none !important;}
      .goog-te-menu-value:hover {text-decoration:none !important;}
      body {top:0 !important;}
      #google_translate_element2 {display:none!important;}
    </style>

    <script type="text/javascript">
    function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'pt',autoDisplay: false}, 'google_translate_element2');}
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


    <script type="text/javascript">
    /* <![CDATA[ */
    eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
    /* ]]> */
    </script>

    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/afb0fcc0-932b-44c6-9d6f-8642e9fb3b22-loader.js" ></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159750339-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159750339-1');
    </script>


  </head>
  <body>
    <noscript>
      <strong>We're sorry but chianca-web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
