// Icons
@font-face {
  font-family: "americas";
  src:url("~@/assets/fonts/americas.eot");
  src:url("~@/assets/fonts/americas.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/americas.woff") format("woff"),
    url("~@/assets/fonts/americas.ttf") format("truetype"),
    url("~@/assets/fonts/americas.svg#chianca") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Flama
@font-face {
	font-family: 'Flama';
	src: url('~@/assets/fonts/flamalight_regular-webfont.woff') format('woff'),
		url('~@/assets/fonts/flamalight_regular-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/flamalight_regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Flama';
	src: url('~@/assets/fonts/flamamedium_regular-webfont.woff') format('woff'),
		url('~@/assets/fonts/flamamedium_regular-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/flamamedium_regular-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

// Khand
@font-face {
	font-family: 'Khand';
	src: url('~@/assets/fonts/khand-light-webfont.woff') format('woff'),
		url('~@/assets/fonts/khand-light-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/khand-light-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Khand';
	src: url('~@/assets/fonts/khand-medium-webfont.woff') format('woff'),
		url('~@/assets/fonts/khand-medium-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/khand-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

// Khand
@font-face {
	font-family: 'SanFrancisco';
	src: url('~@/assets/fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff'),
		url('~@/assets/fonts/sanfranciscodisplay-ultralight-webfont.woff2') format('woff2'),
		url('~@/assets/fonts/sanfranciscodisplay-ultralight-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
