[data-icon]:before {
  font-family: "americas" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "americas" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\61";
}
.icon-arrow-right:before {
  content: "\62";
}
.icon-book:before {
  content: "\63";
}
.icon-check:before {
  content: "\64";
}
.icon-close:before {
  content: "\65";
}
.icon-enter:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\67";
}
.icon-fullscreen:before {
  content: "\68";
}
.icon-home:before {
  content: "\69";
}
.icon-instagram:before {
  content: "\6a";
}
.icon-linkedin:before {
  content: "\6b";
}
.icon-magnifier:before {
  content: "\6c";
}
.icon-mail:before {
  content: "\6d";
}
.icon-phone:before {
  content: "\6e";
}
.icon-pin:before {
  content: "\6f";
}
.icon-play:before {
  content: "\70";
}
.icon-play-o:before {
  content: "\71";
}
.icon-send:before {
  content: "\72";
}
.icon-trees:before {
  content: "\73";
}
.icon-angle-down:before {
  content: "\74";
}
