// Video modal
.video-enter-active,
.video-leave-active {
	transition: all .3s $easeInOutQuad;
}

.video-enter{
	transform: scale(.9);
	opacity: 0;
}

.video-leave-active{
	transform: scale(.9);
	opacity: 0;
}

// Stand down
.stand-down-enter-active,
.stand-down-leave-active {
	transform-origin: 50% 0;
	perspective-origin: 50% 0%;
	transition: 
		opacity .3s $easeInOutQuad,
		transform .4s $easeInOutQuad;
}

.stand-down-enter,
.stand-down-leave-active{
	transform: translateY(-100%);

	@include grid-media($desktop-grid) {
		opacity: 0;
		transform:
			perspective(400px)
			rotateX(-90deg);
	}
}

// Stand up
.stand-up-enter-active,
.stand-up-leave-active {
	transform-origin: 50% 100%;
	perspective-origin: 50% 100%;
	transition: 
		opacity .5s $easeInOutQuad,
		transform .4s $easeInOutQuad;
}

.stand-up-enter,
.stand-up-leave-active{
	transform: translateY(100%);

	@include grid-media($desktop-grid) {
		opacity: 0;
		transform:
			perspective(200px)
			rotateX(90deg);
	}
}


// Fade
.fade-enter-active,
.fade-leave-active{
	transition: .4s $easeInOutQuad;
}

.fade-enter,
.fade-leave-active{
	opacity: 0;
}

// Slide left
.slide-left-enter-active,
.slide-left-leave-active{
	transition: .3s $easeInOutQuad;
}

.slide-left-enter{
	opacity: 0;
	transform: translate(-60px);
}
.slide-left-leave-active{
	opacity: 0;
	transform: translate(60px);
}

// Navigation
.navigation-enter-active{
	transition: .8s $easeOutQuad;
}
.navigation-leave-active{
	transition: .3s $easeInQuad;
}

.navigation-enter{
	transform: translateY(-100%);
}
.navigation-leave-active{
	transform: translateY(-100%);
}

// Full Gallery
.full-gallery-enter-active{
	transition: .3s $easeOutQuad;
}
.full-gallery-leave-active{
	transition: .3s $easeInQuad;
}

.full-gallery-enter{
	transform: scale(.2);
	opacity: 0;
}
.full-gallery-leave-active{
	transform: scale(.2);
	opacity: 0;
}

// Full Gallery
.footer-enter-active,
.footer-leave-active{
	transition: .3s $easeInOutQuad;
}

.footer-enter,
.footer-leave-active{
	transform: translateY(100%);
}

// Modal
.modal-enter-active,
.modal-leave-active{
	transition: .3s $easeInOutQuad;
}

.modal-enter,
.modal-leave-active{
	opacity: 0;
	transform: translate(-50%, -50%) scale(.2);
}

// Router
.router-enter-active,
.router-leave-active{
	transition: .3s $easeInOutQuad;
}

.router-enter,
.router-leave-active{
	opacity: 0;
}

// Video
.video-enter-active,
.video-leave-active{
	transition: .3s $easeInOutQuad;
}

.video-enter,
.video-leave-active{
	opacity: 0;
}
