<template>
	<div class="am-intro"
		:style="{ backgroundImage: `url(${background})` }"
		:class="{ 'is-playing': playing }"
		@click="playing = false"
	>
		<am-button-icon
			name="play"
			class="am-intro__play"
			@click.stop="playing = true"
		/>

		<transition name="modal">
			<am-button-icon
				v-if="playing"
				name="close"
				class="am-intro__close"
				@click.stop="playing = false"
			/>
		</transition>

		<transition name="modal">
			<div class="am-intro__video" v-if="playing">
				<iframe class="am-intro__embed" :src="`https://www.youtube.com/embed/${video}?autoplay=1`" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</transition>

		<am-button class="am-intro__enter" icon="enter" @click="$emit('enter', $event)">
			Entrar no site
		</am-button>
	</div>
</template>

<script>
import AMButtonIcon from '@/components/molecules/AMButtonIcon'
import AMButton from '@/components/molecules/AMButton'

export default {
	components: {
		'am-button-icon': AMButtonIcon,
		'am-button': AMButton
	},

	props: {
		background: {
			type: String,
			default: 'https://placeimg.com/640/480/any'
		},
		video: {
			type: String,
			default: 'PqeY2mEfNMk'
		}
	},

	data: () => ({
		playing: false
	})
}
</script>

<style lang="scss">
.am-intro{
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100%;
	z-index: 5;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(black, .34);
		z-index: -1;
	}
	&__play{
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0.6;
		transform: translate(-50%, -50%);
	}
	&__close{
		position: absolute;
		top: 24px;
		right: 24px;
		z-index: 20;
	}
	&__enter{
		position: absolute;
		width: 183px;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, 0);
	}
	&__video{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		background: $c-brown;
		display: flex;
	}
	&__embed{
		width: 100%;
		height: 100%;
	}
}
</style>
